<div class="container">
    <div style="margin-top: 1vw"></div>
  <div class="row ">
    <div class="col col-md-4">
      <img src="{{photo_one}}" alt="" class="card-img-top" style="height: 16vw">
    </div>

    <div class="col">
      <div class="row ">
        <div class="col">
            <a href="{{link_to_recipe}}" style="color: black">
          <h3 style="color: black">{{toUpperCase recipe_name}}</h3> </a>
        </div>
        <div class="col">
          <p style="text-align:right;">
            <i id="favouritesButton_{{id_recipe}}" class="far fa-heart" style="font-size: 1.3vw" onClick="action(event)"></i>
          </p>
        </div>
      </div>

      <div class="container" style="background-color:#eeeeee; padding: 15px; color:black;">
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col">
                <p>Stopien trudności: </p>
              </div>
              <div class="col">
                <p>{{complicity}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container" style="background-color:#7BCE9E; color:black;">
              <p style="text-align:left; font-size: 1.05vw; padding-top: 0.22vw; padding-bottom: 0.22vw">Dodano przez:
                {{email_address}}</p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Czas przygotowania: </p>
              </div>
              <div class="col">
                <p> {{preparation_time}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ilość porcji: </p>
              </div>
              <div class="col">
                <p> {{number_of_people}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ocena: </p>
              </div>
              <div class="col">
                <p> {{score}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <p>*ikony kategorii*</p>
          </div>
          <div class="col">
            <p style="text-align:right; font-size:1vw; margin-top: 0.5vw; margin-bottom: 0vw; font-size: 0.9vw">Data
              dodania przepisu: {{date_of_creation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 2.2vw;"></div>
</div>