<div class="container">
    <div style="margin-top: 1vw"></div>
  <div class="row ">
    <div class="col col-md-4">
      <img src="{{photo_one}}" alt="" class="card-img-top" style="height: 14.1vw">
    </div>

    <div class="col">
      <div class="row ">
        <div class="col">
            <a href="{{link_to_recipe}}" style="color: black;  text-decoration: none;">
          <h3 style="color: black;">{{toUpperCase recipe_name}}</h3> </a>
        </div>
        <div class="col">
          <p style="text-align:right;">
            <i class="far fa-heart" style="font-size: 1.7vw; position: absolute; bottom:0.4vw; right:1vw"></i>
          </p>
        </div>
      </div>

      <div class="container" style="background-color:#eeeeee; padding: 15px; color:black;">
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col">
                <p>Stopień trudności: </p>
              </div>
              <div class="col">
                <p>{{complicity}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container" style="background-color:#7BCE9E; color:black;">
              <p style="text-align:left; font-size: 0.75vw; padding-top: 0.01vw; padding-bottom: 0.01vw; text-align: center">Dodano przez:
                {{email_address}}</p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Czas przygotowania: </p>
              </div>
              <div class="col">
                <p> {{preparation_time}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ilość porcji: </p>
              </div>
              <div class="col">
                <p> {{number_of_people}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ocena: </p>
              </div>
              <div class="col">
                <p> {{score}}<i class="fas fa-star" style=" font-size: 1.3vw; color: #F8D93F; margin-left:0.5vw"></i></p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <p><i class="fas fa-utensils" style="font-size: 1.3vw; position: absolute; bottom:0;"></i></p>
          </div>
          <div class="col">
            <p style="text-align:right; font-size:1vw; margin-top: 0.5vw; margin-bottom: 0vw; font-size: 0.9vw">Data
              dodania przepisu: {{date_of_creation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 2vw;"></div>
</div>