<main role="main" class="col">
    <h4 style="margin-top:2.8vw; margin-bottom:1.2vw">ZGŁOSZENIA PRZEPISU - {{recipeName}} </h4>

    <div class="table-responsive">
        {{#if reportsInfo}}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <p>DATA</p>
                    </th>
                    <th scope="col">
                        <p>GODZINA</p>
                    </th>
                    <th scope="col">
                        <p>ZGŁASZAJĄCY UŻYTKOWNIK</p>
                    </th>
                    <th scope="col">
                        <p>ZGŁOSZONY UŻYTKOWNIK</p>
                    </th>
                    <th scope="col">
                        <p>NAZWA PRZEPISU</p>
                    </th>
                    <th scope="col">
                        <p>OPIS</p>
                    </th>
                    <th scope="col">
                        <p>STATUS</p>
                    </th>
                    <th scope="col">
                        <p>AKCJE</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each reportsInfo}}
                <tr>
                    <td>{{data}}</td>
                    <td>{{godzina}}</td>
                    <td>{{reportee_nickname}}</td>
                    <td>{{reported_nickname}}</td>
                    <td>{{recipe_name}}</td>
                    <td>{{description}}</td>
                    <td>{{status}}</td>
                    <td>
                        <button class="btn btn-danger rounded-0" onclick="revokeReport({{id_report}})">Unieważnij <br>
                            zgłoszenie</button>
                        <button class="btn btn-warning rounded-0" onclick="acceptReport({{id_report}})">Zaakceptuj <br>
                            zgłoszenie</button>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                Brak zgłoszeń dla danego przepisu
                {{/if}}
            </tbody>
        </table>
    </div>
</main>
<script>
    function revokeReport(reportId) {
        console.log(reportId);
    }

    function acceptReport(reportId) {
        console.log(reportId);
    }
</script>