<main role="main" class="col">
    <h4 style="margin-top:2.8vw; margin-bottom:1.2vw">ZGŁOSZENIA PRZEPISU - {{recipeName}} </h4>

    <div class="table-responsive">
        {{#if reportsInfo}}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <p>DATA</p>
                    </th>
                    <th scope="col">
                        <p>GODZINA</p>
                    </th>
                    <th scope="col">
                        <p>ZGŁASZAJĄCY UŻYTKOWNIK</p>
                    </th>
                    <th scope="col">
                        <p>ZGŁOSZONY UŻYTKOWNIK</p>
                    </th>
                    <th scope="col">
                        <p>NAZWA PRZEPISU</p>
                    </th>
                    <th scope="col">
                        <p>OPIS</p>
                    </th>
                    <th scope="col">
                        <p>STATUS</p>
                    </th>
                    <th scope="col">
                        <p>AKCJE</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each reportsInfo}}
                <tr>
                    <td>{{data}}</td>
                    <td>{{godzina}}</td>
                    <td><a href="/administrator_panel/user_management/{{reportee_nickname}}">{{reportee_nickname}}</a></td>
                    <td><a href="/administrator_panel/user_management/{{reported_nickname}}">{{reported_nickname}}</a></td>
                    <td>{{recipe_name}}</td>
                    <td>{{description}}</td>
                    <td>{{status}}</td>
                    <td>
                        <button class="btn btn-danger rounded-0" onclick="revokeReport({{id_report}}, {{recipe_id}})">Unieważnij <br>
                            zgłoszenie</button>
                        <button class="btn btn-warning rounded-0" type="button" data-toggle="modal"
                            data-target="#messageModal{{id_report}}"
                            onclick="acceptReport({{id_report}}, {{recipe_id}})">Zaakceptuj <br>
                            zgłoszenie</button>

                        <div class="modal fade bd-example-modal-lg" id="messageModal{{id_report}}" tabindex="-1"
                            role="dialog" aria-labelledby="messageModalTitle{{id_report}}" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="messageModalTitle{{id_report}}">Wyślij
                                            wiadomość
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <textarea name="userMessage" id="userMessage_{{reported_email}}" cols="70"
                                            rows="10"></textarea>
                                        <label for="adminEmail" class="col-form-label">Adres e-mail
                                            do
                                            korespondencji:</label>
                                        <input type="text" class="form-control" name="adminEmail" id="adminEmail"
                                            value="{{@root.userEmail}}">
                                    </div>
                                    <div class="modal-footer">

                                        <button type="submit" class="btn btn-danger"
                                            onclick="sendMail('{{reported_email}}')">Wyślij do:
                                            {{reported_email}}</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Zamknij</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                Brak zgłoszeń dla danego przepisu
                {{/if}}
            </tbody>
        </table>
    </div>
</main>
<script>
    function revokeReport(reportId, recipeId) {
        $.post('/api/reports/revoke_report', {
            reportId: reportId,
            recipeId: recipeId
        }).done(() => {
            location.reload();
        });
    }

    function acceptReport(reportId, recipeId) {
        $.post('/api/reports/accept_report', {
            reportId: reportId,
            recipeId: recipeId
        }).done(() => {
        });
    }
</script>
<script type="module" src="/javascripts/mail-utilities-vanilla.js"></script>