<main role="main" class="col">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">ZARZĄDZANIE KONTAMI</h1>
    </div>

    <div class="admin-width-container" style="background-color:#eeeeee; padding: 5px; color:black; margin-top:1.3vw">
        {{!-- tabelka --}}
        <div class="admin-width-container">
            <h4 style="margin-top: 1vw; margin-bottom: 1.5vw">LISTA UŻYTKOWNIKÓW</h4>
            <form action="/administrator_panel/user_management" method="post">
                <div class="row">
                    <div class="col">
                        <p>Szukaj:</p>
                        <input class="form-control admin-filter" type="text" placeholder="Szukaj" name="nameSearch"
                            aria-label="Search">
                    </div>
                    <div class="col">
                        <p>Parametry:</p>
                        <select name="active" id="" class="custom-select">
                            <option value="1">tylko aktywni</option>
                            <option value="0">tylko nieaktywni</option>
                            <option value="3">tylko usunięci</option>
                            <option value="2">tylko zbanowani</option>
                        </select>
                    </div>
                    <div class="col">
                        <p>Sortowanie według:</p>
                        <select name="sortUsing" id="" class="custom-select">
                            <option value="nickname">pseudonim</option>
                            <option value="ID">ID</option>
                            <option value="email">e-mail</option>
                            <option value="lastLogin">ostatnie logowanie</option>
                        </select>
                    </div>
                    <div class="col">
                        <p>Sortowanie typ:</p>
                        <select name="sortType" id="" class="custom-select">
                            <option value="asc">rosnąco</option>
                            <option value="desc">malejąco</option>
                        </select>
                    </div>
                    <div class="col">
                        <p>&nbsp;</p>
                        <button type="submit" class="btn btn-success ml-3 float-right rounded-0"
                            style="color:black; background-color:#27AE60; width: 7vw; ">SZUKAJ</button>
                    </div>
                </div>
            </form>
            <p>&nbsp</p>



            <div class="table-responsive">
                <table class="table table-striped table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                <p>&nbsp</p>
                                <p>&nbsp&nbspID</p>
                            </th>
                            <th>
                                <p>&nbsp</p>
                                <p>STATUS</p>
                            </th>
                            <th>
                                <p>&nbsp</p>
                                <p>PSEUDONIM</p>
                            </th>
                            <th>
                                <p>&nbsp</p>
                                <p>ADRES E-MAIL</p>
                            </th>
                            <th>
                                <p style="padding: 0; margin: 0">OSTATNIA</p>
                                <p>AKTYWNOŚĆ</p>
                            </th>
                            <th>
                                <p>&nbsp</p>
                                <p>DZIAŁANIA</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userInfo}}
                        <tr>
                            <td class="align-middle">&nbsp&nbsp{{id_user}}</td>
                            <td class="align-middle">{{state}}</td>
                            <td class="align-middle">{{nickname}}</td>
                            <td class="align-middle">{{email_address}}</td>
                            <td class="align-middle">{{date_of_activity}}</td>
                            <td>
                                <div class="row" style="margin-right:0vw; margin-top:0.2vw">
                                    <div class="col-6">
                                        <button type="button"
                                            onclick="location.href='/administrator_panel/user_management/{{nickname}}'"
                                            class="btn btn-secondary btn-block rounded-0"
                                            style="font-size:0.7vw">SZCZEGÓŁY</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" onclick="location.href='/users/user_recipes/{{nickname}}'"
                                            class="btn btn-success btn-block rounded-0" style="font-size:0.7vw">PRZEPISY
                                            UŻYTKOWNIKA</button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 0.2vw; margin-right:0vw; margin-bottom: 0.2vw">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-secondary btn-block rounded-0"
                                            style="font-size:0.7vw" data-toggle="modal"
                                            data-target="#exampleModalLong{{id_user}}">WYŚLIJ
                                            WIADOMOŚĆ</button>

                                        <div class="modal fade bd-example-modal-lg" id="exampleModalLong{{id_user}}" tabindex="-1"
                                            role="dialog" aria-labelledby="exampleModalLongTitle{{id_user}}" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle{{id_user}}">Wyślij
                                                            wiadomość
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-justify">
                                                        <textarea name="userMessage" id="userMessage_{{email_address}}"
                                                            cols="70" rows="10"></textarea>
                                                            <label for="adminEmail" class="col-form-label">Adres e-mail
                                                                do
                                                                korespondencji:</label>
                                                            <input type="text" class="form-control" name="adminEmail"
                                                                id="adminEmail" value="{{@root.userEmail}}">
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit" class="btn btn-danger"
                                                            onclick="sendMail('{{email_address}}')">Wyślij do: {{email_address}}</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Zamknij</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        {{#isBanned state}}
                                        <button type="button" class="btn btn-danger btn-block rounded-0"
                                            style="font-size:0.7vw" data-toggle="modal"
                                            data-target="#banUserModal{{../id_user}}">ZABLOKUJ
                                            KONTO</button>

                                        <div class="modal fade" id="banUserModal{{../id_user}}" tabindex="-1" role="dialog"
                                            aria-labelledby="banUserModalTitle{{../id_user}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="banUserModalTitle{{../id_user}}">Zablokuj
                                                            użytkownika
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-justify">
                                                        <p>
                                                            Po wykonaniu tej akcji użytkownik zostanie zablokowany, a
                                                            jego przepisy staną się 'anonimowe'.
                                                        </p>
                                                        <p>
                                                            Czy na pewno chcesz zablokować tego użytkownika? {{../nickname}}
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger"
                                                            onclick="blockUser('{{../nickname}}')">Zablokuj</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Zamknij</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{else}}
                                        <button type="button" class="btn btn-success btn-block rounded-0"
                                            style="font-size:0.7vw" data-toggle="modal"
                                            data-target="#unbanUserModal{{../id_user}}">ODBLOKUJ KONTO</button>

                                        <div class="modal fade" id="unbanUserModal{{../id_user}}" tabindex="-1" role="dialog"
                                            aria-labelledby="unbanUserModalTitle{{../id_user}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="unbanUserModalTitle{{../id_user}}">Odblokuj
                                                            użytkownika
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-justify">
                                                        <p>
                                                            Po wykonaniu tej akcji użytkownik zostanie odblokowany, a
                                                            jego przepisy zostaną przywrócone.
                                                        </p>
                                                        <p>
                                                            Czy na pewno chcesz odblokować tego użytkownika? {{../nickname}}
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success"
                                                            onclick="unblockUser('{{../nickname}}')">Odblokuj</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Zamknij</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/isBanned}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

<script src="/javascripts/sendEmail.js"></script>