<main role="main" class="col">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">SZCZEGÓŁY UŻYTKOWNIKA </h1>
    </div>


    <div class="admin-width-container" style="background-color:#eeeeee; padding: 5px; color:black; margin-top:1.3vw">
        {{!-- tabelka --}}
        {{#each userInfo}}
        <div class="admin-width-container">
            <div class="row">
                <div class="col-3">
                    <h4 style="margin-top: 1vw; margin-bottom: 1.5vw">SZCZEGÓŁY UŻYTKOWNIKA: </h4>
                </div>
                <div class="col">
                    <h4 style="margin-top: 1vw; margin-bottom: 1.5vw">{{email_address}}</h4>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">pseudonim:</p>
                    </div>
                    <div class="col">{{nickname}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">imię:</p>
                    </div>
                    <div class="col">{{name}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">nazwisko:</p>
                    </div>
                    <div class="col">{{surname}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">data dołączenia:</p>
                    </div>
                    <div class="col">{{date_of_join}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">administrator:</p>
                    </div>
                    <div class="col">{{is_admin}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">status aktywności:</p>
                    </div>
                    <div class="col">{{state}}</div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="about-user">ID użytkownika:</p>
                    </div>
                    <div class="col">{{id_user}}</div>
                </div>
            </div>
            {{/each}}

            <h4 style="margin-top:2.8vw; margin-bottom:1.2vw">HISTORIA AKTYWNOŚCI</h4>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>
                                <p>DATA</p>
                            </th>
                            <th>
                                <p>GODZINA</p>
                            </th>
                            <th>
                                <p>AKCJA</p>
                            </th>
                            <th>
                                <p>ODSYŁACZ</p>
                            </th>
                            <th>
                                <p>SZCZEGÓŁY</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userActivities}}
                        <tr>
                            <td>{{data}}</td>
                            <td>{{godzina}}</td>
                            <td>{{activity_name}}</td>
                            <td><a href="{{link}}">{{link}}</a></td>
                            <td>{{details}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</main>