<div class="container" id="mainRecipesContent">
    <h1>Ostatnio dodane przepisy:</h1>
    <div class="row mt-2">
        {{#listItem 0 3 recipes}}
        <div class="col-sm">
            <div class="card">
                <img src="{{photo_one}}" alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{recipe_name}}</p>
                </div>
            </div>
        </div>
        {{/listItem}}
    </div>
    <div class="row mt-2">
        {{#listItem 3 6 recipes}}
        <div class="col-sm">
            <div class="card">
                <img src="{{photo_one}}" alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{recipe_name}}</p>
                </div>
            </div>
        </div>
        {{/listItem}}
    </div>
    <div class="row mt-2">
        {{#listItem 6 9 recipes}}
        <div class="col-sm">
            <div class="card">
                <img src="{{photo_one}}" alt="" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{recipe_name}}</p>
                </div>
            </div>
        </div>
        {{/listItem}}
    </div>
</div>