{{#each recipe}}
<div class="container">

  <div class="row ">
    <div class="col col-md-4">
      <img src="{{photo_one}}" alt="" class="card-img-top" style="height: 16.35vw">
    </div>

    <div class="col">
      <div class="row ">
        <div class="col">
          <h3 style="color: black">{{toUpperCase recipe_name}}</h3>
        </div>
        <div class="col">
          <p style="text-align:right;">
            <i class="far fa-heart" style="font-size: 1.3vw"></i>
          </p>
        </div>
      </div>

      <div class="container" style="background-color:gainsboro; padding: 15px; color:black;">
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col">
                <p>Stopien trudności: </p>
              </div>
              <div class="col">
                <p>{{complicity}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container" style="background-color:#7BCE9E; color:black;">
              <p style="text-align:left; font-size: 1.05vw; padding-top: 0.22vw; padding-bottom: 0.22vw">Dodano przez:
                {{email_address}}</p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Czas przygotowania: </p>
              </div>
              <div class="col">
                <p> {{preparation_time}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ilość porcji: </p>
              </div>
              <div class="col">
                <p> {{number_of_people}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ocena: </p>
              </div>
              <div class="col">
                <p> {{score}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <p>*ikony kategorii*</p>
          </div>
          <div class="col">
            <p style="text-align:right; font-size:1vw; margin-top: 0.5vw; margin-bottom: 0vw; font-size: 0.9vw">Data
              dodania przepisu: {{date_of_creation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col col-md-4">
    </div>
    <div class="col">
      <p class="split-para">Podoba Ci się?
        <div style=" font-size: 1.5vw; color: #F8D93F; text-align: right">
          <span >
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        </span>
        </div>
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <div class="container skladniki" style="background-color:gainsboro; padding: 15px; color:black;">
        <h3>Składniki:</h3>
        <hr style="margin-bottom: 0.8vw">
        </hr>

        {{#each ../ingredients}}
        <div class="row ">
          <div class="col">
            <p>{{ingredient_name}}</p>
          </div>
          <div class="col">
            <p style="position: absolute; bottom:0;">{{amount}}</p>
          </div>
          <div class="col">
            <p style="bottom:0;">{{unit_name}}</p>
          </div>
        </div>
        {{/each}}
        
      </div>
    </div>

    <div class="col">
      <div class="container skladniki" style="background-color:white; padding: 15px; color:black;">
        <h3>Sposób przygotowania:</h3>
        <hr>
        </hr>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:3vw">
    <div class="col col-md-4">
      <div class="container skladniki" style="background-color:#7BCE9E; padding: 15px; color:black;">
        <h3 style="color: black">ZAMIENNIKI:</h3>
        <p>W tym przepisie możesz zamienić następujące składniki:</p>
        <hr>
        </hr>
        <p>ziemniaki na bataty</p>
        <p>x na y</p>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          <a href="{{link_to_recipe}}"><img src="{{photo_one}}" alt="" class="card-img-top" style="height: 12vw"></a>
        </div>
        <div class="col">
          <div class="container brak-zdj"
            style="background-color:#eeeeee; padding: 15px; color:black; height:15vw; text-align: center; height: 12vw">
            <p style="color: #B7B7B7; font-size: 1.3vw">BRAK ZDJĘCIA</p>
          </div>
        </div>
        <div class="col">
          <div class="container brak-zdj"
            style="background-color:#eeeeee; padding: 15px; color:black; height:15vw; text-align: center; height: 12vw">
            <p style="color: #B7B7B7; font-size: 1.3vw">BRAK ZDJĘCIA</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:2.5vw">
        <button type="stworz-liste-zakupow" class="btn btn-success ml-3">STWÓRZ LISTĘ ZAKUPÓW</button>
      </div>
    </div>
  </div>
  <p style="margin-top:2vw">Przepis narusza regulamin, zawiera treści niestosowne, nieadekwatne lub jest nie kompletny?
    <a href="#" target="_blank" style="color: red">Zgłoś przepis</a></p>






</div>
{{/each}}