{{#each recipe}}
<div class="container">

  <div class="row ">
    <div class="col col-md-4">

      <img id="myImg" src="{{photo_one}}" alt="" class="card-img-top" style="height: 14.9vw">
      <div id="myModal" class="modal display">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>

    </div>

    <div class="col">
      <div class="row ">
        <div class="col-10">
          <h3 style="color: black">{{toUpperCase recipe_name}}</h3>
        </div>
        {{#isRecipeMine @root.userEmail email_address}}

        <div class="col">
          <p style="text-align:right;">
            <a href="{{../link_to_recipe}}/edit"><i class="far fa-edit" style="font-size: 1.6vw; position: absolute; bottom:0.5vw; right:0.4vw;"></i></a>
          </p>
        </div>
        {{/isRecipeMine}}

        <div class="col">
          <p style="text-align:right;">
            <i class="far fa-heart" id="favouritesButton_{{id_recipe}}"
              onClick="addToFavourites(event, {{@root.userId}})"
              style="font-size: 1.7vw; position: absolute; bottom:0.4vw; right:1vw"></i>
          </p>
        </div>
      </div>

      <div class="container" style="background-color:#eeeeee; padding: 15px; color:black;">
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col">
                <p>Stopień trudności: </p>
              </div>
              <div class="col">
                <p>{{complicity}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container" style="background-color:#7BCE9E; color:black;">
              <p style="text-align:left; font-size: 0.8vw; padding-top: 0.22vw; padding-bottom: 0.22vw; padding-top: 0.01vw; padding-bottom: 0.01vw; text-align: center;"
                id="test">Dodano przez: <a href="/users/user_recipes/{{nickname}}"
                  style="text-decoration: none">{{nickname}}</a>
                {{#if visible_email}}
                {{email_address}}
                {{/if}}
              </p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Czas przygotowania: </p>
              </div>
              <div class="col">
                <p> {{preparation_time}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ilość porcji: </p>
              </div>
              <div class="col">
                <p> {{number_of_people}}</p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="row ">
              <div class="col -2">
                <p>Ocena: </p>
              </div>
              <div class="col">
                <p> {{score}}<i class="fas fa-star" style=" font-size: 1.3vw; color: #F8D93F; margin-left:0.5vw"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row ">
          <div class="col">
            <p id="categoryBox_{{id_recipe}}"></p>
          </div>
          <div class="col">
            <p style="text-align:right; font-size:1vw; margin-top: 0.5vw; margin-bottom: 0vw; font-size: 0.9vw">Data
              dodania przepisu: {{date_of_creation}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col col-md-4">
    </div>
    <div class="col">
      <div class="row ">
        <div class="col">
          <p style="margin-top: 0.35vw">Podoba Ci się? Oceń przepis!</p>
        </div>
        <div class="col">
          <p style="font-size: 1.5vw; color: #F8D93F; text-align: right" id="starBox"></p>
          {{!-- <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i> --}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <div class="container skladniki" style="background-color:#eeeeee; padding: 15px; color:black;">
        <h3>Składniki:</h3>
        <hr style="margin-bottom: 0.8vw">
        </hr>

        {{#each ../ingredients}}
        <div class="row ">
          <div class="col">
            <p>{{ingredient_name}}</p>
          </div>
          <div class="col">
            <p style="position: absolute; bottom:0; right: 2.7vw;">{{unit_name}}: </p>
          </div>
          <div class="col">
            <p style="position: absolute; bottom:0;">{{amount}}</p>
          </div>
        </div>
        {{/each}}

      </div>
    </div>

    <div class="col">
      <div class="container skladniki" style="background-color:white; padding: 15px; color:black;">
        <h3>Sposób przygotowania:</h3>
        <hr>
        </hr>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:3vw">
    <div class="col col-md-4">
      <div class="container skladniki" style="background-color:#7BCE9E; padding: 15px; color:black;">
        <h3 style="color: black">ZAMIENNIKI:</h3>
        <p>W tym przepisie możesz zamienić następujące składniki:</p>
        <hr>
        </hr>
        {{#each ../alternative_ingredients}}
        <p>{{ingredient_name}} na {{alternative_ingredients}}</p>
        {{/each}}
      </div>
    </div>

    <div class="col">
      <div class="row">

        <div class="col">
          {{#if photo_two}}

          <img id="myImg02" src="{{photo_two}}" alt="" class="card-img-top" style="height: 12vw"></a>
          <div id="myModal02" class="modal display">
            <span class="close">&times;</span>
            <img class="modal-content" id="img02">
            <div id="caption02"></div>
          </div>

          {{else}}
          <div class="container brak-zdj"
            style="background-color:#eeeeee; padding: 15px; color:black; text-align: center; height: 12vw">
            <p style="color: #B7B7B7; font-size: 1.3vw">BRAK ZDJĘCIA</p>
          </div>
          {{/if}}
        </div>
        <div class="col">
          {{#if photo_three}}

          <img id="myImg03" src="{{photo_three}}" alt="" class="card-img-top" style="height: 12vw"></a>
          <div id="myModal03" class="modal display">
            <span class="close">&times;</span>
            <img class="modal-content" id="img03">
            <div id="caption03"></div>
          </div>

          {{else}}

          <div class="container brak-zdj"
            style="background-color:#eeeeee; padding: 15px; color:black; text-align: center; height: 12vw">
            <p style="color: #B7B7B7; font-size: 1.3vw">BRAK ZDJĘCIA</p>
          </div>
          {{/if}}
        </div>
        <div class="col">
          {{#if photo_four}}

          <img img id="myImg04" src="{{photo_four}}" alt="" class="card-img-top" style="height: 12vw"></a>
          <div id="myModal04" class="modal display">
            <span class="close">&times;</span>
            <img class="modal-content" id="img04">
            <div id="caption04"></div>
          </div>

          {{else}}
          <div class="container brak-zdj"
            style="background-color:#eeeeee; padding: 15px; color:black; text-align: center; height: 12vw">
            <p style="color: #B7B7B7; font-size: 1.3vw">BRAK ZDJĘCIA</p>
          </div>
          {{/if}}
        </div>
      </div>

      <div class="row" style="margin-top:2.5vw">
        <button type="button" class="btn btn-success ml-3"
          style="color:black; background-color:#27AE60; height: 2.7vw; width: 12.6vw" id="shopListButton_{{id_recipe}}"
          onclick="addToShopList(event, {{@root.userId}})">STWÓRZ LISTĘ
          ZAKUPÓW</button>
      </div>
    </div>
  </div>
  <p style="margin-top:2vw">Przepis narusza regulamin, zawiera treści niestosowne, nieadekwatne lub jest nie
    kompletny?
    <a href="#" type="button" style="color: red" data-toggle="modal" data-target="#exampleModalLong">Zgłoś przepis</a>
  </p>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Zgłoś przepis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/users/report_recipe" method="post">

          <div class="modal-body text-justify">
            <textarea name="reportRecipeDescription" id="reportRecipe" cols="45" rows="10"></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Wyślij</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{{/each}}



<script src="/javascripts/favouritesHandler.js"></script>
<script src="/javascripts/scoreStarsHandler.js"></script>
<script src="/javascripts/shopListHandler.js"></script>


<script>
  // Get the modal
  let modal = document.getElementById("myModal");
  let modal02 = document.getElementById("myModal02");
  let modal03 = document.getElementById("myModal03");
  let modal04 = document.getElementById("myModal04");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  let img = document.getElementById("myImg");
  let img02 = document.getElementById("myImg02")
  let img03 = document.getElementById("myImg03")
  let img04 = document.getElementById("myImg04")


  let modalImg = document.getElementById("img01");
  let captionText = document.getElementById("caption");
  img.onclick = function () {
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  // Get the <span> element that closes the modal
  let span = document.getElementsByClassName("close")[0];
  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }


  if (img02 !== null) {
    let modalImg02 = document.getElementById("img02");
    let captionText02 = document.getElementById("caption02");
    img02.onclick = function () {
      modal02.style.display = "block";
      modalImg02.src = this.src;
      captionText02.innerHTML = this.alt;
    }
    let span02 = document.getElementsByClassName("close")[1];
    span02.onclick = function () {
      modal02.style.display = "none";
    }
  }

  if (img03 !== null) {
    let modalImg03 = document.getElementById("img03");
    let captionText03 = document.getElementById("caption03");
    img03.onclick = function () {
      modal03.style.display = "block";
      modalImg03.src = this.src;
      captionText03.innerHTML = this.alt;
    }
    let span03 = document.getElementsByClassName("close")[2];
    span03.onclick = function () {
      modal03.style.display = "none";
    }
  }

  if (img04 !== null) {
    let modalImg04 = document.getElementById("img04");
    let captionText04 = document.getElementById("caption04");
    img04.onclick = function () {
      modal04.style.display = "block";
      modalImg04.src = this.src;
      captionText04.innerHTML = this.alt;
    }
    let span04 = document.getElementsByClassName("close")[3];
    span04.onclick = function () {
      modal04.style.display = "none";
    }
  }

</script>